---
interface Props {
    label: string;
    link: string;
    imgsrc: string;
    imgName: string;
    linkType?: ContactLinkType;
    opensNewTab?: boolean;
}

export enum ContactLinkType {
    email = 'email',
    webpage = 'webpage'
}

const { link: href, imgsrc, imgName, label, linkType, opensNewTab = false } = Astro.props;

const finalHref = linkType === ContactLinkType.email ? `mailto:${href}` : `https://${href}`;

const externalAttributes = opensNewTab ? { target: "_blank", rel: "noopener noreferrer" } : {};
---

<div class="contact-info-container">
    <a href={finalHref} {...externalAttributes}>
        <img src={imgsrc} alt={`${imgName} icon`} class="contact-icon" />
    </a>
    <div class="contact-info-text">
        <span>{label}: </span>
        <a href={finalHref} {...externalAttributes}>{href}</a>
    </div>
</div>

<style>
    .contact-icon {
        border-radius: 15%;
        width: 46px;
        height: 46px;
        margin-right: 0px;
        flex-shrink: 0;
        display: inline-block;
        object-fit: contain;
    }
    .contact-info-container {
        background: rgba(255, 255, 255, 0.08);
        border-radius: 15px;
        overflow: hidden;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        max-width: 278px;
        height: 60px;
        width: 100%;
        padding: 10px 15px;
        margin: 0px 0 0 0;
        font-size: 0.92rem;
        font-weight: 500;
        gap: 6px;
        white-space: nowrap;
        box-sizing: border-box;
        transition:
            box-shadow 0.2s,
            transform 0.3s;
    }
    .contact-info-container .contact-info-text {
        text-align: left;
        display: inline-flex;
        flex-direction: column;
    }
    .contact-info-container:hover {
        box-shadow: 0 0 20px rgba(17, 185, 183, 0.719);
        transform: scale(1.05);
    }
    @media (min-width: 900px) {
        .contact-info-text {
            visibility: hidden;
        }
        .contact-info-container {
            max-width: 77px;
            width: 100%;
        }
    }

    @media (min-width: 1160px) {
        .contact-info-text {
            visibility: visible;
        }
        .contact-info-container {
            overflow: hidden;
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
            max-width: 278px;
            height: 60px;
            width: 100%;
        }
    }
</style>
