---
import { Image } from 'astro:assets';

interface Props {
    id?: string;
    title: string;
    description: string;
    status?: string;
    features?: string[];
    section?: Section[];
    onlySummary?: boolean;
    images?: AppImages[]
}

interface Section {
    title: string;
    feature: Feature[];
}

interface Feature {
    name?: string;
    description: string;
}

interface AppImages {
    imgSrc: ImageMetadata;
    alt: string;
}
const project = Astro.props;
/* to create optional named sections for every feature provided */
---

<section id="projects" data-aos="fade-up">
    <!-- refinements here as it uses .item class which is inherited from Layout.astro. not wrapped from Card.astro -->

    <div class="item" data-aos="zoom-in">
        <h3 id={project.id}>{project.title}</h3>
        <p>{project.description}</p>
        <p><strong>Status: </strong>{project.status}</p>
        {
            project.onlySummary ? null : (
                <div>
                    <p>
                        <strong>Features: </strong>
                    </p>
                    {project.section && <p>{project.section}</p>}
                    {project.features && (
                        <ul>
                            {project.features.map((feature) => (
                                <li>{feature}</li>
                            ))}
                        </ul>
                    )}
                    <p><strong>Images: </strong></p>
                    {project.images && (
                        <div class="app-images">
                            <ul>
                                {project.images.map((image) => (
                                    <li>
                                        <Image src={image.imgSrc} alt={`${image.alt}`} height={500} width={300} class='responsive-img' />
                                    </li>
                                ))}
                            </ul>
                        </div>
                    )}
                </div>
            )
        }

    </div>
</section>

<style>
    .app-images ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 0;
        list-style-type: none;
        overflow-x: auto;
        /* overscroll-behavior-x: contain; */ /* Prevents scroll chaining to the whole page */
    }
    .image-item {
        flex: 0 0 auto; /* Prevents images from shrinking */
    }
    .responsive-img {
        aspect-ratio: 180 / 403;
        object-fit: cover;
        border-radius: 12px;
        height: auto;
    }
</style>