---
import Card from "../reusables/Card.astro";
import { ContactLinkType } from "../reusables/Contact.astro";
import MiniContactIcon from "../reusables/MiniContactIcon.astro";
import GmailIcon from '../../../public/assets/icons/gmail.svg';
import LinkedInIcon from '../../../public/assets/icons/linkedin.svg';
import GithubIcon from '../../../public/assets/icons/github.svg';
---

<Card>
    <div class="mini-contact-icons">
        <MiniContactIcon
            link="johnrosales933@gmail.com"
            imgName="Gmail"
            imgsrc={GmailIcon}
            linkType={ContactLinkType.email}
            opensNewTab={true}
        />
        <MiniContactIcon
            link="github.com/jhnrs"
            imgName="Github"
            imgsrc={GithubIcon}
            linkType={ContactLinkType.webpage}
            opensNewTab={true}
        />
        <MiniContactIcon
            link="linkedin.com/in/justjohn07"
            imgName="LinkedIn"
            imgsrc={LinkedInIcon}
            linkType={ContactLinkType.webpage}
            opensNewTab={true}
        />
    </div>
</Card>

<style>
    .mini-contact-icons {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
</style>
